* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '"product-sans"';
    src: url('/assets/"product-sans"/Product Sans Regular.ttf');
}

.curacel_background {
    /* background-image: url('/assets/img/curacel-background.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom; */

}

.curacel_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.curacel_button button {
    width: 131px;
    background-color: #4040FF;
    border-radius: 7px;
    color: white;
    padding: 12px 14px;
    font-size: 16px;
    font-family: 'product-sans';
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
}

.curacel_headline {
    padding: 0px 0 60px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curacel_headline h1 {
    font-size: 50px;
    font-family: "product-sans";
    color: #031B4E;
    width: 435px;
    line-height: 60px;
    letter-spacing: 0.02em
}

.curacel_headline p {
    font-size: 18px;
    width: 400px;
    color: #1E1147;
    font-family: "product-sans";
    line-height: 27px;
    margin-top: 30px;
    font-weight: 400;
}

.curacel_header {
    width: 640px;
}

.curacel_header img {
    width: 100%;
}

.curacel_start {
    /* display: flex;
    align-items: center; */
    margin-top: 32px;
}

.curacel_start button {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    font-family: "product-sans";
    border: none;
    width: 224px;
    padding: 12px 14px;
    border-radius: 7px;
    background-color: #4040FF;
    justify-content: center;
    cursor: pointer;
}


.curacel_start span {
    margin-left: 8px;
}

.curacel_start span i {
    font-size: 18px;
}

.curacel_trust {
    margin-top: 50px;
}

.curacel_trust p {
    color: #333333;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-family: 'product-sans';
    font-weight: 400;
    text-align: center;
}

.curacel_trust div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
    width: 75%;
}

.curacel_logo {
    width: 90px !important;
}

.curacel_logo_two {
    width: 120px !important;
}

.curacel_logo_two img {
    width: 100%;
}

.curacel_logo img {
    width: 100%;
}

.curacel_mission {
    padding: 50px 130px;
}

.curacel_mission_text h2 {
    font-size: 36px;
    font-family: 'product-sans';
    color: #031B4E
}

.curacel_api {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.curacel_api p {
    margin-top: 16px;
    color: #5B6987;
    font-size: 16px;
    font-family: 'product-sans';
    width: 500px;
}

.curacel_outreach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 130px;
}

.curacel_country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curacel_country:not(:first-child) {
    margin-top: 70px;
}

.curacel_icon {
    width: 52px;
}

.curacel_icon img {
    width: 100%;
}

.curacel_number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.curacel_country div:not(:first-child) {
    margin-left: 16px;
}

.figure {
    font-family: 'product-sans';
    font-size: 18px;
    color: #031B4E;
    font-weight: bold;
}

.describe {
    font-family: 'product-sans';
    font-size: 14px;
    color: #031B4E;

}

.reach {
    width: 730px;
}

.reach img {
    width: 100%;
}

.curacel_aim {
    padding: 60px 130px;
}

.curacel_aim h2 {
    font-size: 48px;
    font-family: 'product-sans';
    line-height: 62px;
    color: #1E1147;
    width: 675px;
}

.curacel_task {
    background-color: #F1F3F8;
    padding: 38px 53px;
    margin-top: 100px;
}

.curacel_task_button {
    display: flex;
    align-items: center;
}

.curacel_task_button button:first-child {
    padding: 12px 14px;
    background: #7854F7;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    font-family: 'product-sans';
    width: 119px;
    border: none;
    cursor: pointer;
}

.curacel_task_button button:not(:first-child),
.curacel_task_mobile_button button {
    margin-left: 26px;
    padding: 12px 14px;
    background: white;
    border-radius: 6px;
    font-size: 14px;
    color: #666666;
    font-family: 'product-sans';
    width: 119px;
    border: none;
    cursor: pointer;
}

.curacel_aim h3 {
    margin-top: 87px;
    font-family: 'product-sans';
    color: #1E1147;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
}


.curacel_features {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.features {
    width: 474px;
}

.features p {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'product-sans';
    color: #525596;
    letter-spacing: 0.01em;
}

.features h2 {
    font-size: 24px;
    font-family: 'product-sans';
    line-height: 36px;
    color: #333333;
    width: 100%;
}

.curacel_insurance {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.hints {
    display: flex;
    align-items: center;
}

.hints:not(:first-child) {
    margin-top: 14px;
}

.hints p {
    margin-top: 0 !important;
    margin-left: 11px;
    color: #666666;
    font-size: 16px;
    text-transform: capitalize !important;
}


.curacel_testimonial {
    padding: 6px 130px;

}

.testimonial_additon {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-left: 4px solid #2BC684;
    padding: 38px 45px;
}

.testimony {
    display: flex;
    align-items: flex-start;
}

.line {
    border-left: 1px solid #BDBDD1;
    height: 60px;
}

.testimony p {
    margin-left: 15px;
    font-size: 24px;
    font-family: 'product-sans';
    color: #5F5F7E;
    line-height: 35px;
    font-weight: 400;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.profile_pic {
    width: 80px;
}

.profile_pic img {
    width: 100%;
}

.detail {
    margin-left: 24px;
}

.name {
    color: #5F5F7E;
    font-size: 16px;
    font-family: 'product-sans';
    font-weight: 700;
    letter-spacing: 0.02em;
}

.company {
    margin-top: 4px;
    font-size: 14px;
    color: #80819A;
    font-family: 'product-sans';
    letter-spacing: 0.02em;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
}

.circle div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle div:first-child {
    background-color: #7854F7;
}

.circle div:not(:first-child) {
    background-color: #CFCFCF;
    margin-left: 7px;
}

.arrow {
    display: flex;
    align-items: center;
}

.arrow button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
}

.arrow button:first-child {
    background-color: #F1F3F8;
}

.arrow button:not(:first-child) {
    margin-left: 4px;
    background-color: #4040FF;
}

.arrow button:not(:first-child) i {
    color: white;
}

.curacel_contact {
    background-image: url('/assets/img/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 130px;

}

.curacel_help {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 62px;
}

.contact {
    width: 50%;
}

.contact h3 {
    font-size: 45px;
    font-weight: 400;
    font-family: 'product-sans';
    color: white;
}

.contact p {
    font-size: 30px;
    font-weight: 400;
    font-family: 'product-sans';
    color: white;
    margin-top: 8px;
    line-height: 43px;
}

.contact_form {
    width: 40%;
}

.contact_form form {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 48px 30px;
}

.contact_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_input div {
    display: -ms-grid;
    display: grid;
    width: 45%;
}

.label {
    font-size: 14px;
    font-family: 'product-sans';
}

.input {
    margin-top: 8px;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #F1F3F8;
    background-color: #F1F3F8;
    width: 100%;
}

.contact_input:not(:first-child),
.option,
.check,
.form_btn {
    margin-top: 32px;
}

.option {
    display: -ms-grid;
    display: grid;
}

.option>.input {
    width: 45% !important;

}


#term {
    border: 1px solid #F1F3F8;
    background-color: #F1F3F8;
}

.update {
    font-size: 14px;
    font-family: 'product-sans';
}

.form_btn button {
    width: 180px;
    background-color: #4040FF;
    border: none;
    border-radius: 4px;
    padding: 12px 14px;
    color: white;
    font-family: 'product-sans';
    font-size: 16px;
}

.curacel_footer {
    background-image: url('/assets/img/Footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 130px;
    min-height: 439px;
}

.origin {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.intro {
    width: 160px;
}

.intro img {
    width: 100%;
}

.footer_history {
    font-size: 16px;
    color: white;
    font-family: 'product-sans';
    width: 374px;
    margin-top: 23px;
    line-height: 21px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.origin a {
    font-size: 18px;
    color: white;
    font-family: 'product-sans';
    letter-spacing: 0.02em;
    font-weight: 700;
    text-decoration: none;
}

.divider {
    margin-top: 130px;
    width: 100%;
    border-top: 1px solid rgba(241, 241, 241, 0.26);
}

.curacel_social {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curacel_social p {
    font-size: 12px;
    color: white;
    font-family: 'product-sans';
    letter-spacing: 0.02em;
}

.social_icons {
    display: flex;
    align-items: center;
}

.social_icons a {
    width: 15px;
    text-decoration: none;
}

.social_icons a img {
    width: 100%;
}

.social_icons a:not(:first-child) {
    margin-left: 15px;
}

.mobile {
    display: none;
}

.curacel_task_mobile {
    display: none;
}

/* @media screen and (max-width:499px) {
    .curacel_nav {
        padding: 30px 30px;
    }

    .curacel_headline {
        display: block;
        padding: 30px 30px;
        width: 100%;
    }

    .curacel_headline h1,
    .curacel_headline p {
        width: 100%;
    }

    .curacel_header {
        display: none;
    }

    .mobile {
        display: block;
        margin-top: 32px;
    }

    .mobile img {
        width: 100%;
    }
} */

@media screen and (max-width: 990px) {
    .curacel_nav {
        padding: 30px 30px;
    }

    .curacel_headline {
        display: block;
        padding: 30px 30px;
        width: 100%;
    }

    .curacel_headline h1,
    .curacel_headline p {
        width: 100%;
    }

    .curacel_header {
        display: none;
    }

    .mobile {
        display: block;
        margin-top: 32px;
    }

    .mobile img {
        width: 100%;
    }

    .curacel_trust div {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .curacel_mission {
        padding: 30px 30px;
    }

    .curacel_api p {
        width: 45%;
    }

    .curacel_outreach {
        display: block;
        padding: 30px 30px;
    }

    .curacel_number {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(2, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
    }

    .curacel_country {
        justify-content: flex-start;
    }

    .curacel_country:not(:first-child) {
        margin-top: 0;
    }

    .reach {
        width: 100%;
        margin-top: 70px;
    }

    .curacel_aim {
        padding: 30px 30px;
    }

    .curacel_aim h2 {
        width: 100%;
    }

    .curacel_task {
        display: none;
    }

    .curacel_task_mobile {
        background-color: #F1F3F8;
        padding: 20px 20px;
        margin-top: 100px;
        display: block;
    }

    .curacel_task_mobile:not(:first-child) {
        margin-top: 50px;
    }

    .curacel_task_mobile_button button {
        margin-left: 0;
    }


    .features {
        width: 100%;
    }

    .features h2 {
        margin-top: 32px;
    }

    .curacel_aim h3 {
        margin-top: 40px;
    }

    .curacel_testimonial {
        margin: 6px 20px;
        padding: 10px 10px;
    }

    .curacel_contact {
        padding: 20px 20px;
    }

    .contact {
        display: none;
    }

    .contact_form {
        width: 100%;
    }

    .curacel_footer {
        padding: 20px 20px;
    }

    .origin {
        display: block;
    }

    .footer_history {
        width: 100%;
    }

    .origin div {
        margin-bottom: 16px;
    }

    /* .curacel_social {
        display: block;
    } */
}

@media only screen and (min-width: 1500px) {


    .curacel_background,
    .curacel_trust,
    .curacel_mission,
    .curacel_outreach,
    .curacel_aim,
    .curacel_testimonial,
    .curacel_help,
    .footer_addition {
        max-width: 1500px;
        margin-left: auto !important;
        margin-right: auto !important;
        /* background-color: #80808026; */
    }

}